@import './post.css';
@import './overwrite.css';
@import '~mdb-ui-kit/css/mdb.min.css';

.main-body {
  height: 100vh;
  overflow-y: hidden;
}

.inner-body {
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d1d1 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
