p {
  margin-top: 0px;
}

.single-post img {
  max-width: 100%;
  height: auto;
  text-align: center;
}
figcaption {
  font-size: 12px;
  text-align: center;
  color: #696969;
  margin-top: 5px;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #e2e8f0;
  padding: 5px;
}

table th {
  background-color: #edf2f7;
}

pre {
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  background: #b3bccc;
}
pre::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}
pre {
  background: #414449;
  color: #b3bccc;
  padding: 15px;
  font-size: 13pt;
  tab-size: 4;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
}

.sidebar a:not(:last-child) {
  border-bottom: 1px solid #f0f0f0 !important;
}
.sidebar a {
  color: #000 !important;
  font-size: 14px !important;
}
.sidebar {
  top: 42px !important;
  padding: 0 !important;
}
.navbar {
  padding: 0 !important;
}
.navbar a.nav-item {
  color: #696969 !important;
  font-size: 16px !important;
}
.navbar a.nav-item:hover,
.navbar a.nav-item a:focus,
.navbar a.nav-item a:active,
.navbar a.nav-item.active {
  background-color: #3b71ca !important;
  color: #fff !important;
}

#main-content,
#full-content {
  padding: 0px 15px 15px 15px;
}

@media only screen and (min-width: 1024px) {
  #main-content {
    padding-left: 260px;
  }
}
